<div class='card' *ngIf="product">
  <div class = 'card-header'>
    {{pageTitle + ': ' + product.productName}}
  </div>
 
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">{{product.productName}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product Code</h5>
            <p class="card-text">{{product.productCode}}</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Release Date</h5>
            <p class="card-text">{{product.releaseDate}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Star Rating</h5>
            <p class="card-text">{{product.starRating}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p><img [src]='product.imageUrl'
                    [style.width.px]=50
                    [style.margin.px]=2></p>
          </div>
        </div>
      </div>
  </div>
  <div class='card-footer' >
    <button class='btn btn-outline-secondary'
        (click)="OnBack()"
        style='width:80px'>
      <i class='fa fa-chevron-left'></i>Back
      </button>
  </div>
</div>
